<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Collection</title>
</head>
<body class = "singleSet">
  <%- include('partials/navbar', {page: '/lego/sets'}) %>
    <tr>
        <img width = "300px" src = "<%=set.img_url%>">
        <th><%=set.name%></th>
        <th><p>Theme:</p><%=set.theme%></th>
        <th><p>Year Released:</p><%=set.year%></th>
        <th><p>Pieces:</p><%=set.num_parts%></th>
        <br>
        <a class="btn btn-ghost normal-case text-xl" href="/lego/editSet/<%=set.set_num %>" >Edit this set</a>
        <a class="btn btn-ghost normal-case text-xl" href="#" onclick="history.back(); return false;">Return</a>
      </tr>
 <p id = "randomMsg"></p>
 <p id = "author"></p>
 <script>
  document.addEventListener("DOMContentLoaded", async ()=>{
    var fetchedData = await fetch("https://quotable.io/random");
    var parsedData = await fetchedData.json();
    var msg = document.getElementById("randomMsg");
    var writer = document.getElementById("author");
    msg.textContent = '"'+ parsedData.content + '"';
    writer.textContent = '-' + parsedData.author;
  });
  </script>
</body>
</html>